* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  main {
    max-width: 122.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .aside {
    padding: 2rem;
    padding-top: 0;
    height: 3864;
    background: #f6f6f6;
    position: sticky;
  }
  
  .author {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
  
  .items {
    list-style: none;
  }
  
  .items li {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
  }
  
  .main {
    padding: 2rem;
    padding-top: 0;
    height: 3864;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .heading-text {
    font-size: 4.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #c1c1c1
  }
  
  .first-board {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem;
    background-color: #D3647B;
    line-height: 1.5;
    margin-bottom: 3rem;
    position: relative;
    color: #FAFAFA;
  }
  
  .first-board::before {
    content: url(img/Ellipse\ 12.png);
    width: 1000%;
    display: block;
    position: absolute;
    top: -3rem;
  
  }
  
  article {
    margin-bottom: 5rem;
  }
  
  article p {
    font-size: 2.6rem;
    font-weight: 400;
    margin-bottom: 4rem;
    line-height: 120%;
  }
  
  .second-board {
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem;
    background-color: #AC6ACB;
    line-height: 1.5;
    margin-bottom: 3rem;
    position: relative;
    color: #FAFAFA;
  }
  
  .second-board::after {
    content: url(img/Polygon\ 5.svg);
    display: block;
    position: absolute;
    top: -4rem;
  }
  
  .third-board {
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem;
    background-color: #535ED3;
    line-height: 1.5;
    margin-bottom: 3rem;
    position: relative;
    color: #FAFAFA;
  }
  
  .third-board::before {
    content: url(img/Polygon\ 6.svg);
    display: block;
    position: absolute;
    top: -4rem;
  }
  
  .fourth-board {
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem;
    background-color: #269D8B;
    line-height: 1.5;
    margin-bottom: 3rem;
    color: #FAFAFA;
    position: relative;
  }
  
  .fourth-board::before {
    content: url(img/Polygon\ 6.svg);
    display: block;
    position: absolute;
    top: -4rem;
  }
  
  .fith-board {
    font-size: 3rem;
    font-weight: 700;
    padding: 3rem;
    background-color: #1E1E1E;
    line-height: 1.5;
    margin-bottom: 3rem;
    color: #FAFAFA;
    position: relative;
  }
  
  .fith-board::before {
    content: url(img/Star\ 1.png);
    display: block;
    position: absolute;
    top: -4rem;
  }
  
  a:link,
  a:active {
    text-decoration: none;
    color: #1E1E1E;
  }
  
  a:hover,
  a:visited {
    color: #3f33a896;
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
  
  .man {
    background-color: #D3647B;
    width: 8rem;
    height: 10rem;
    display: flex;
    padding-top: 15rem;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    position: absolute;
    bottom: 0;
  }
  
  .man-1 {
    background-color: #AC6ACB;
  }
  
  .man-2 {
    background-color: #535ED3;
  }
  
  .man-3 {
    background-color: #269D8B;
  }
  
  .image-container {
    padding: 2rem;
    padding-top: 3rem;
    width: 70rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    0% {
      transform: rotate(80deg);
    }
  
    50% {
      transform: rotate(360deg);
    }
  }
  
  @media (max-width:24em) {
    html {
      font-size: 50%;
    }
  
    main {
      flex-direction: column;
    }
  
    img {
      width: 50%;
      height: 50%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }